html {
    background-color: var(--color-light-dark);
}

body {
    @include flex {
        flex-direction: column;
    }

    overflow-x: hidden;
    font-family: var(--font-family-primary);
    font-size: fluid(16, 12);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--color-dark);

    &.is-lock {
        overflow: hidden;
    }
}

p {
    margin: 0;
}

main {
    flex-grow: 1;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-block: 0;
}

h2, .h2,
h3, .h3 {
    font-weight: var(--font-weight-semibold);
}

h1, .h1 {
    font-size: fluid(50, 30);
    font-weight: var(--font-weight-extrabold);
}

h2, .h2 {
    font-size: fluid(40, 28);
}

h3, .h3 {
    font-size: fluid(24, 16);
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;

    @include hover {
        color: var(--color-accent);
    }
}

:focus-visible {
    outline: 3px dashed var(--color-accent);
    outline-offset: 3px;
    transition-duration: 0s !important;
}