.category {
    @include flex {
        flex-direction: column;
        row-gap: fluid(24, 16);
    }

    width: 100%;
}

.list {
    @include grid(3) {
        gap: fluid(30, 10);
    }

    @include screen-lg {
        --gridColumns: 2;
    }

    @include screen-md {
        --gridColumns: 4;
    }

    @include screen-sm {
        --gridColumns: 3;
    }

    @include screen-xs {
        --gridColumns: 2;
    }
}