.overlay {
    @include flex(center, center);

    position: fixed;
    padding-inline: var(--container-padding-x);
    inset: 0;
    background-color: var(--color-dark-transparent);
    z-index: var(--z-index-1000);

    @include screen-xs {
        padding-inline: 0;
    }
}

.modal {
    @include flex(start) {
        flex-direction: column;
    }

    background-color: var(--color-light);
    width: 680px;
    height: 430px;
    border-radius: var(--border-radius-24);
    padding: fluid(24, 10);

    @include screen-xs {
        width: 100dvw;
        height: 100dvh;

        border-radius: 0;
    }
}

.closeButton {
    align-self: flex-end;
}

.body {
    height: 100%;
}