.body {
    height: 100%;

    @include flex($justify-content: space-between) {
        flex-direction: column;
        row-gap: 12px;
    }
}

.description {
    @include flex {
        flex-direction: column;
        row-gap: 10px;
    }

    max-height: 220px;
    overflow-y: scroll;
}

.information {
    @include flex(start, space-between) {
        column-gap: fluid(16, 8);
    }

    @include screen-xs {
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: auto;
    }
}

.compound {
    @include flex {
        flex-direction: column;
        row-gap: 2px;
    }
}

.textWeight {
    color: var(--color-grey-dark);
}

.order {
    @include flex(center, space-between) {
        column-gap: var(--default-gap);
    }
}